body{
   background-color:whitesmoke;
}
img {
    height: 50px;
    width: 50px;
 }

 .container {
    display: flex;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
 }

 .form {
    /*display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, .2);
    border-radius: 10px;
    //background-color: rgba(12,11,9,0.6);*/
    padding: 10px;
    border: 3px solid #CDA45E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 420px;
    box-shadow: 0px 0px 20px rgba(0, 0, .2);
 }

 .form h2 {
    margin: 40px;
    font-size: 50px;
    color: black;
 }

 .box {
    padding: 12px;
    width: 65%;
    margin: 5px;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    color: black;
 }

 .btn {
    padding: 10px 20px;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid #CDA45E;
    background-color: #CDA45E;
 }

 .btn:hover {
    cursor: pointer;
    /*background-color: green;
    color: white;*/
 }

 a {
    padding: 10px 20px;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 30px;
    border: 2px solid #CDA45E;
    background-color: #CDA45E;
    text-align: center;
    text-decoration: none;
 }

 a:hover {
    cursor: pointer;
    /*background-color: red;
    color: white;*/
 }